homeassistant:
  packages: !include_dir_named packages

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate

dialogflow:

intent_script:
  GetTemperature:
    speech:
      text: Ok
    action:
      - service: light.turn_on
        data:
          entity_id: light.bedroom

automation: !include automations.yaml
device_tracker: !include_dir_list device_trackers
fan: !include fan.yaml
group: !include groups.yaml
light: !include lights.yaml
media_player: !include_dir_list media_players
script: !include scripts.yaml
sensor: !include_dir_list sensors

climate:
  - platform: sensibo
    api_key: !secret sensibo

camera:
  - platform: ring
#   - platform: generic
#     still_image_url: rtsp://192.168.3.101/hdmi
#     stream_source: rtsp://192.168.3.101/hdmi

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

ring:
  username: !secret jay_email
  password: !secret ring_password

binary_sensor:
  - platform: ring

spotcast:
  username: !secret spotify_username
  password: !secret spotify_password
# stream:

# ifttt:
#   key: !secret ifttt_key
# api:
# websocket_api:
# ios:

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  network_key: '0xBD, 0x97, 0xD0, 0x88, 0x8B, 0x54, 0x9A, 0x19, 0xDB, 0x9C, 0x53, 0xE4, 0x81, 0x0D, 0x40, 0x91'
  polling_interval: 60000
  device_config: !include zwave_device_config.yaml
  config_path: /config/zwave-config
  debug: false
# custom_updater:
#   card_urls:
#     - https://raw.githubusercontent.com/MizterB/lovelace-secondaryinfo-entity-row/master/custom_cards.json

input_boolean:
  vacation_mode:
    name: Vacation Mode
    icon: mdi:airplane

logger:
  default: error
  logs:
    homeassistant.custom_components.spotcast.sensor: critical
    homeassistant.components.zwave: info
